<%- include('partials/header', { title: 'Экран игры', user: null }) %>
<section class="card">
  <h1><%= game.title %></h1>
  <p>Код игры: <code><%= game.code %></code></p>
  <div class="row gap">
    <div>
      <img src="<%= qrDataUrl %>" alt="QR code" class="qr" />
      <p><a href="<%= qrUrl %>"><%= qrUrl %></a></p>
    </div>
    <div class="screen-box">
      <h2 id="screen-title">Ожидание начала игры</h2>
      <div id="screen-content"></div>
    </div>
  </div>
</section>

<section class="card">
  <h2>Leaderboard</h2>
  <table>
    <thead>
      <tr>
        <th>Место</th>
        <th>Игрок</th>
        <th>Очки</th>
      </tr>
    </thead>
    <tbody id="leaderboard-body">
      <% leaderboard.forEach((player, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= player.name %></td>
          <td><%= player.score %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const game = <%- JSON.stringify(game) %>;
  const titleEl = document.getElementById('screen-title');
  const contentEl = document.getElementById('screen-content');
  const leaderboardBody = document.getElementById('leaderboard-body');

  socket.emit('screen:join', { gameCode: game.code });

  socket.on('game:started', () => {
    titleEl.innerText = 'Игра началась';
  });

  socket.on('question:show', (question) => {
    titleEl.innerText = question.title;
    contentEl.innerHTML = '';

    if (question.type === 'abcd') {
      const ul = document.createElement('ul');
      question.payload.options.forEach((option) => {
        const li = document.createElement('li');
        li.innerText = option;
        ul.appendChild(li);
      });
      contentEl.appendChild(ul);
    } else if (question.type === 'buzz') {
      contentEl.innerHTML = '<div class="big-label">Кто быстрее нажмет первым?</div>';
    } else {
      contentEl.innerText = 'Вопрос отображен на экране';
    }
  });

  socket.on('buzz:winner', ({ playerId }) => {
    const div = document.createElement('div');
    div.className = 'notice';
    div.innerText = 'Первым нажал игрок #' + playerId;
    contentEl.appendChild(div);
  });

  socket.on('leaderboard:update', ({ leaderboard }) => {
    renderLeaderboard(leaderboard);
  });

  function renderLeaderboard(leaderboard) {
    leaderboardBody.innerHTML = '';
    leaderboard.forEach((row) => {
      const tr = document.createElement('tr');
      tr.innerHTML = '<td>' + row.place + '</td><td>' + row.name + '</td><td>' + row.score + '</td>';
      leaderboardBody.appendChild(tr);
    });
  }
</script>
<%- include('partials/footer') %>
